<nav class="navbar bg-body-purple">
  <div class="container-fluid justify-content-center">
    <span class="navbar-brand mb-0 h1"><(ng) Forms Reactive></span>
  </div>
</nav>

<div class="container">
  <div class="row mb-3">
    <form autocomplete="off" class="col-6 mx-auto" [formGroup]="solicitudForm" (ngSubmit)="onSaveForm()">
      <legend>Datos del solicitante</legend>
      <div class="mb-3">
        <label for="tipoSolicitanteSelect" class="form-label">Tipo solicitante</label>
        <select id="tipoSolicitanteSelect" class="form-select" aria-label="Default select example" formControlName="tipoSolicitanteCtrl">
          <option selected [value]="null">---SELECCIONAR--</option>
          <option [value]='1'>Fisica</option>
          <option [value]='2'>Moral</option>
        </select>
      </div>
      <label for="nombrePersonaFisicaInput" class="form-label">Nombre</label>
      <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <input type="text" id="nombrePersonaFisicaInput" class="form-control" placeholder="Nombre" aria-label="Username"
          aria-describedby="basic-addon1" formControlName="nombrePersonaFisicaCtrl"
          [akoDisabledIf]="_tipoSolicitanteCtrl.value === '2'">
      </div>
      <hr>
      <legend>Datos del representante legal</legend>
      <fieldset>
        <label for="denominacionPersonaMoralInput" class="form-label">Denominación o razón social</label>
        <div class="input-group mb-3">
          <span class="input-group-text">@</span>
          <input id="denominacionPersonaMoralInput" type="text" class="form-control"
            placeholder="Denominación o razón social" aria-label="Username" aria-describedby="basic-addon1"
            formControlName="denominacionPersonaMoraCtrl"
            [akoDisabledIf]="_tipoSolicitanteCtrl.value === '1'">
        </div>
        <label for="nombrePersonaMoralInput" class="form-label">Nombre(s) o pseudónimo</label>
        <div class="input-group mb-3">
          <span class="input-group-text">@</span>
          <input id="nombrePersonaMoralInput" type="text" class="form-control" placeholder="Nombre(s) o pseudónimo"
            aria-label="Username" aria-describedby="basic-addon1" formControlName="nombrePersonaMoralInput"
            [akoDisabledIf]="_tipoSolicitanteCtrl.value === '1'">
        </div>
      </fieldset>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">ENVIAR</button>
      </div>
    </form>
    <div class="col-8 mx-auto">
      <pre>Form rawvalue:{{solicitudForm.getRawValue() | json}}</pre>
      <pre>Form status:{{solicitudForm.status}}</pre>
      <pre>Form value: {{solicitudForm.value | json}} </pre>
    </div>
  </div>
  <div class="row" *ngIf="submited">
    <div class="col-12">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Genial!!</h4>
        <p>Se ha registrado con exito al usuario: <b> {{message}} </b></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <hr>
      </div>
    </div>
  </div>
</div>